@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Beginner:wght@400;500;600;700&display=swap');   

*{
    font-family: 'Edu SA Beginner', cursive;
}

body{
    background: rgb(93, 255, 187);
}
div {  
    box-sizing: border-box; 
    width: 100%; 
    border: 100px solid black; 
} 
   
form {                                         
    margin: 0 auto; 
    width: 600px;
    text-align: center;
    padding: 20px;
    background-color: rgba(205, 255, 148, 0.397);
    font-size: 20px;
    border-radius: 20px;border: 1px solid rgb(114, 255, 196);
}

form>p{
    display: flex;
    flex-direction: column;
    justify-content: center;

}
input{
    float: inline-end;
    padding: 10px;
    border: none;
    border-radius: 10px;
    outline: none;
    font-size: 18px;
}
input[type=submit]{
    background: green;
    color: white;
    text-transform: uppercase;
}
input[type=submit]:hover{
    background: white;
    color: green;
}
.alert{
    color: red;
    text-transform: uppercase;
    font-weight: 900;
}